.ceo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;

}

.ceo {
	font-family: 'Mali', cursive;
	padding:30px;
	border: 0.5px solid black;
	border-radius:3px;
	background-size: cover;
	background-position: center;
	font-size: 15px;
}
.ceo img{
	margin-right: 50px;
}